<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Advice generator app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <main class="main">

    <div class="container__advice">
      <h1 class="title__advice">Advice #<span class="id__advice"></span></h1>
      <blockquote class="quote__advice"></blockquote>
      <button class="generate__advice"></button>
    </div>

  </main>

  <footer class="footer">
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a> | 
      Coded by <span>Vanesa Rodríguez</span>
    </div>
  </footer>

  <script src="js/script.js"></script>
</body>
</html>